<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" onsubmit="return validateForm()" novalidate>
        <label for="IdCont"></label>
        <input type="hidden" name="IdCont" value="<%= deptCont.idContract %>">
        <label for="desc"><%= __('cont.fields.desc') %>:
            <% if(formMode != 'showDetails'){ %><span class="required-field">*</span>
            <% } %>
        </label>
        <input type="text" id="desc" name="desc"
               value="<%= deptCont.description %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
               class="<%= validationErrors.find(e => e.path.includes('description')) ? 'error-input' : '' %>">
        <span id="errorDescription" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('description'))) { %>
                <%= validationErrors.find(e => e.path.includes('description')).message %>
            <% } %>
        </span>
        <label for="startDate"><%= __('cont.fields.start') %>:
            <% if(formMode != 'showDetails'){ %><span class="required-field">*</span>
            <% } %>
        </label>
        <input type="date" id="startDate" name="startDate"
               value="<%= (deptCont.startDate == null) ? '' : deptCont.startDate.toISOString().split('T')[0] %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               required
               class="<%= validationErrors.find(e => e.path.includes('startDate')) ? 'error-input' : '' %>">
        <span id="errorStartDate" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('startDate'))) { %>
                <%= validationErrors.find(e => e.path.includes('startDate')).message %>
            <% } %>
        </span>
        <label for="dueDate"><%= __('cont.fields.end') %>: </label>
        <input type="date" id="dueDate" name="dueDate"
               value="<%= (deptCont.dueDate == null) ? '' : deptCont.dueDate.toISOString().split('T')[0] %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('deptCont')) ? 'error-input' : '' %>">
        <span id="errorDueDate" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('dueDate'))) { %>
                <%= validationErrors.find(e => e.path.includes('dueDate')).message %>
            <% } %>
        </span>
        <% if(formMode != 'showDetails'){ %>
            <label for="deptContName"><%= __('cont.fields.respDept') %>: <span class="required-field">*</span></label>
            <select name="IdDept" id="deptContName" required>
                <option disabled selected value="">--<%= __('nav.departments') %>--</option>
                <% for(let i = 0; i < departments.length; i++) {
                    let dept = departments[i]; %>
                <option value="<%= dept.idDepartment %>" label="<%= dept.name + ' ' + dept.location %>"></option>
                <% } %>
            </select>
        <% } %>
        <span id="errorDeptContName" class="errors-text"></span>
        <% if (formMode == 'showDetails') { %>
            <div class="form-buttons">
                <a href="/contracts_departments/edit/<%= deptCont.idContract %>" class="list-actions-button-edit">
                    <%= __('form.options.edit') %>
                </a>
            </div>
        <% } %>
        <div class="form-buttons">
            <% if (formMode != 'showDetails') { %>
                <input type="submit" value="<%= btnLabel %>" class="button-submit">
                <a href="/contracts" class="button-cancel">
                    <%= __('form.options.Cancel') %>
                </a>
            <% } else { %>
                <a class="button-cancel" href="/contracts"><%= __('form.options.return') %></a>
            <% } %>
        </div>
    </form>
    <% if(formMode == 'showDetails'){ %>
        <h3><%= __('emp.fields.department') %></h3>
        <table id="responsibleDepartment" class="table-list-resDept">
            <thead>
            <tr>
                <th><%= __('cont.fields.respDept') %></th>
                <th><%= __('dept.fields.loc') %></th>
            </tr>
            </thead>
            <tbody>
            <% if (departments.length <= 0) { %>
                <tr>
                    <td data-label="<%= __('emp.fields.department') %>">-----------------</td>
                    <td data-label="<%= __('dept.fields.loc') %>">-----------------</td>
                </tr>
            <% }else{for(let dept of departments) { %>
                <tr>
                    <td data-label="<%= __('emp.fields.department') %>"><a
                                href="/departments/details/<%= dept.idDepartment %>"><%= dept.name %></a>
                    </td>
                    <td data-label="<%= __('dept.fields.loc') %>"><%= dept.location %></td>
                </tr>
            <% }} %>
            </tbody>
        </table>
    <% } %>

</main>
<script type="application/javascript" src="../../JS/ValidationCommon.js"></script>
<script type="application/javascript" src="../../JS/ValidationContract.js"></script>
<%- include('../../fragments/footer.ejs') %>