<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" onsubmit="return validateForm();" novalidate>
        <label for="IdDept"></label>
        <input type="hidden" name="IdDept" value="<%= dept.idDepartment %>">
        <label for="name"><%= __('dept.fields.name') %>:
            <% if(formMode != 'showDetails'){ %><span class="required-field">*</span>
            <% } %>
        </label>
        <input type="text" id="name" name="name" placeholder="<%= __('dept.fields.name') %>"
               value="<%= dept.name %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
               class="<%= validationErrors.find(e => e.path.includes('name')) ? 'error-input' : '' %>">
        <span id="errorDeptName" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('name'))) { %>
                <%= validationErrors.find(e => e.path.includes('name')).message %>
            <% } %>
        </span>
        <label for="location"><%= __('dept.fields.loc') %>:
            <% if(formMode != 'showDetails'){ %><span class="required-field">*</span>
            <% } %>
        </label>
        <input type="text" id="location" name="location" placeholder="<%= __('dept.fields.loc') %>"
               value="<%= dept.location %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
               class="<%= validationErrors.find(e => e.path.includes('location')) ? 'error-input' : '' %>">

        <span id="errorDeptLoc" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('location'))) { %>
                <%= validationErrors.find(e => e.path.includes('location')).message %>
            <% } %>
        </span>
        <% if(formMode == 'showDetails' && loggedUser){ %>
            <div class="form-buttons">
                <a href="/departments/edit/<%= dept.idDepartment %>" class="list-actions-button-edit">
                    <%= __('form.options.edit') %>
                </a>
            </div>
        <% } %>
        <div class="form-buttons">
            <% if (formMode != 'showDetails') { %>
                <input type="submit" value="<%= btnLabel %>" class="button-submit">
                <a href="/departments" class="button-cancel">
                    <%= __('form.options.Cancel') %>
                </a>
            <% } else { %>
                <a class="button-cancel" href="/departments"><%= __('form.options.return') %></a>
            <% } %>
        </div>
    </form>
    <% if(formMode == 'showDetails'){ %>
        <h3><%= __('cont.list.title') %></h3>
        <table id="contracts" class="table-list-resDept">
            <thead>
            <tr>
                <th>ID</th>
                <th><%= __('cont.fields.desc') %></th>
            </tr>
            </thead>
            <tbody>
            <% if (contracts.length <= 0) { %>
                <tr>
                    <td data-label="<%= __('dept.fields.name') %>">-------------</td>
                    <td data-label="<%= __('dept.fields.loc') %>">--------------</td>
                </tr>
            <% }else{for(let cont of contracts) { %>
                <tr>
                    <td data-label="ID"><a
                                href="/contracts_departments/details/<%= cont.idContract %>"><%= cont.idContract %></a>
                    </td>
                    <td data-label="<%= __('cont.fields.desc') %>"><%= cont.description %></td>
                </tr>
            <% }} %>
            </tbody>
        </table>
    <% } %>

    <script type="application/javascript" src="../JS/ValidationCommon.js"></script>
    <script type="application/javascript" src="../JS/ValidationDept.js"></script>
</main>
<%- include('../../fragments/footer.ejs') %>