<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= __('nav.contracts') %></h2>
    <table id="ContractsList" class="table-list">
        <thead>
        <tr>
            <th><%= __('cont.fields.desc') %></th>
            <th><%= __('cont.fields.start') %></th>
            <th><%= __('cont.fields.end') %></th>
            <th><%= __('list.options.title') %></th>
        </tr>
        </thead>
        <tbody>
        <%for(let cont of conts){%>
        <tr>
            <td data-label="<%= __('cont.fields.desc') %>"><%=cont.description%></td>
            <td data-label="<%= __('cont.fields.start') %>"><%=cont.startDate.toISOString().split('T')[0]%></td>
            <td data-label="<%= __('cont.fields.end') %>"><%=(cont.dueDate==null || cont.dueDate == '') ? '' : cont.dueDate.toISOString().split('T')[0]%></td>
            <td>
                <ul class="list-actions">
                    <li><a href="/contracts_departments/details/<%=cont.idContract%>" class="list-actions-button-details"><%= __('list.options.details') %></a></li>
                    <li><a href="/contracts_departments/delete/<%=cont.idContract%>" class="list-actions-button-delete"
                           onclick="return confirm('<%= __('confirm') %>')"><%= __('list.options.delete') %></a></li>
                </ul>
            </td>
        </tr>
        <%}%>
        </tbody>
    </table>
    <p><a href="/contracts_departments/add" class="button-add"><%= __('cont.list.addNew') %></a></p>
</main>
<%- include('../../fragments/footer.ejs') %>