<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" onsubmit="return validateForm();" novalidate>
        <label for="empId"></label>
        <input type="hidden" name="empId" value="<%= emp.idEmployee %>">
        <label for="fname"><%= __('emp.fields.firstName') %>:
            <% if(formMode != 'showDetails'){ %><span class="required-field">*</span>
            <% } %>
        </label>
        <input type="text" id="fname" name="fname"
               value="<%= emp.firstName %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
               class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>">
        <span id="errorFname" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('firstName'))) { %>
                <%= validationErrors.find(e => e.path.includes('firstName')).message %>
            <% } %>
        </span>
        <label for="lname"><%= __('emp.fields.lastname') %>:
            <% if(formMode != 'showDetails'){ %><span class="required-field">*</span>
            <% } %>
        </label>
        <input type="text" id="lname" name="lname"
               value="<%= emp.lastName %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
               class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>">
        <span id="errorLname" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('lastName'))) { %>
                <%= validationErrors.find(e => e.path.includes('lastName')).message %>
            <% } %>
        </span>
        <label for="employedFrom"><%= __('emp.fields.employed-since') %>:
            <% if(formMode != 'showDetails'){ %><span class="required-field">*</span>
            <% } %>
        </label>
        <input type="date" id="employedFrom" name="employedFrom"
               value="<%= (!emp.dateFrom) ? '' : emp.dateFrom.toISOString().split('T')[0] %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               required class="<%= validationErrors.find(e => e.path.includes('dateFrom')) ? 'error-input' : '' %>">
        <span id="errorEmployedSince" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('dateFrom'))) { %>
                <%= validationErrors.find(e => e.path.includes('dateFrom')).message %>
            <% } %>
        </span>
        <label for="employedTo"><%= __('emp.fields.employment-termination') %>: </label>
        <input type="date" id="employedTo" name="employedTo"
               value="<%= (emp.dateTo == null) ? '' : emp.dateTo.toISOString().split('T')[0] %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %>
               class="<%= validationErrors.find(e => e.path.includes('dateTo')) ? 'error-input' : '' %>">
        <span id="errorEmployedTo" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('dateTo'))) { %>
                <%= validationErrors.find(e => e.path.includes('dateTo')).message %>
            <% } %>
        </span>
        <label for="phone"><%= __('emp.fields.phone-number') %>:
            <% if(formMode != 'showDetails'){ %><span class="required-field">*</span>
            <% } %>
        </label>
        <input type="text" id="phone" name="phone"
               value="<%= emp.phoneNumber %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
               class="<%= validationErrors.find(e => e.path.includes('phoneNumber')) ? 'error-input' : '' %>">
        <span id="errorPhoneNumber" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('phoneNumber'))) { %>
                <%= validationErrors.find(e => e.path.includes('phoneNumber')).message %>
            <% } %>
        </span>
        <label for="email"><%= __('emp.fields.email') %>:
            <% if(formMode != 'showDetails'){ %><span class="required-field">*</span>
            <% } %>
        </label>
        <input type="email" id="email" name="email"
               value="<%= emp.email %>" <%= (formMode == 'showDetails') ? 'disabled' : '' %> required
               class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>">
        <span id="errorEmail" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('email'))) { %>
                <%= validationErrors.find(e => e.path.includes('email')).message %>
            <% } %>
        </span>
        <% if(formMode == 'CreateNew' || formMode == 'edit'){ %>
            <label for="password"><%= __('emp.fields.password') %>:<span class="required-field">*</span>
            </label>
            <input type="password" id="password" name="password"
                   value="<%= emp.password %>" required
                   class="<%= validationErrors.find(e => e.path.includes('password')) ? 'error-input' : '' %>">
            <span id="errorPassword" class="errors-text">
                <% if (validationErrors.find(e => e.path.includes('password'))) { %>
                    <%= validationErrors.find(e => e.path.includes('password')).message %>
                <% } %>
            </span>
            <label for="supervisors"><%= __('emp.fields.supervisor') %>: </label>
            <select name="supervisors" id="supervisors">
                <option disabled selected>-- <%= __('emp.fields.supervisors') %> --</option>
                <% for(let tmp of emps){ %>
                    <option value="<%= tmp.idEmployee %>"><%= tmp.firstName %> <%= tmp.lastName %></option>
                <% } %>
            </select>
            <label for="departments"><%= __('emp.fields.department') %>:
                <% if(formMode != 'showDetails'){ %><span class="required-field">*</span>
                <% } %>
            </label>
            <select name="departments" id="departments" required
                    class="<%= validationErrors.find(e => e.path.includes('idDepartment')) ? 'error-input' : '' %>">
                <option disabled selected>-- <%= __('nav.departments') %> --</option>
                <% for(let tmp of depts){ %>
                    <option value="<%= tmp.idDepartment %>"><%= tmp.name %> <%= tmp.location %></option>
                <% } %>
            </select>
        <span id="errorDept" class="errors-text">
            <% if (validationErrors.find(e => e.path.includes('idDepartment'))) { %>
                <%= validationErrors.find(e => e.path.includes('idDepartment')).message %>
            <% } %>
            <% } %>
        </span>
        <% if (formMode == 'showDetails') { %>
            <label for="supervisor"><a
                        href="/employees/details/<%= supervisor.idEmployee %>"><%= __('emp.fields.supervisor') %>: </a></label>
            <input type="text" id="supervisor" name="supervisor"
                   value="<%= supervisor.firstName %> <%= supervisor.lastName %>" disabled required>
            <label for="dept"><a
                        href="/departments/details/<%= department.idDepartment %>"><%= __('emp.fields.department') %>:
                </a></label>
            <input type="text" name="dept" id="dept"
                   value="<%= department.name %>  <%= department.location %>" disabled required>
            <span id="errorDept" class="errors-text"></span>
            <div class="form-buttons">
                <a href="/employees/edit/<%= emp.idEmployee %>" class="list-actions-button-edit">
                    <%= __('form.options.edit') %>
                </a>
            </div>
        <% } %>
        <div class="form-buttons">
            <% if (formMode != 'showDetails') { %>
                <input type="submit" value="<%= btnLabel %>" class="button-submit">
                <a href="/employees" class="button-cancel">
                    <%= __('form.options.Cancel') %>
                </a>
            <% } else { %>
                <a class="button-cancel" href="/employees"><%= __('form.options.return') %></a>
            <% } %>
        </div>
    </form>

</main>
<script type="application/javascript" src="../JS/ValidationCommon.js"></script>
<script type="application/javascript" src="../JS/ValidationEmpEdit.js"></script>
<%- include('../../fragments/footer.ejs') %>